<!DOCTYPE html>
<html>

<style>
    body {
        background-color: #d85829;
        color: #efe5e2;
        font-family: 'Forte', 'Comic Sans MS', cursive, sans-serif; 
    }
     
</style>
     


    
<head>
    <title>Website</title>
    <style>
        @import url('https://fonts.googleapis.com/css?family=Amatic+SC:700');
        
        body {
            text-align: center;
        }
        
        h1 {
            font-family: 'Amatic SC', cursive;
            font-weight: normal;
            color: #40c6bd;
            font-size: 2.5em;
        }
    </style>
</head>
<body>

    {% block body %}
    {% endblock %}

</body>
</html>